<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Tu posición actual es: Latitud: {{latitude}} - Longitud: {{longitude}} 
    </ion-card-header>
  </ion-card>

  <ion-item lines="full">
    <ion-label position="floating">Latitud</ion-label>
    <ion-input type="text" [(ngModel)]="coordinates.latitude"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Longitud</ion-label>
    <ion-input type="text" [(ngModel)]="coordinates.longitude"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button expand="full" (click)="showMap()">Ingresar</ion-button>
    </ion-col>
  </ion-row>

  <div #map id="map"></div>
</ion-content>
