<ion-header>
  <ion-toolbar>
    <ion-title>Mapa</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Su posición actual es: Latitud: {{latitude}} - Longitud: {{longitude}}
    </ion-card-header>
  </ion-card>

  <ion-item lines="full">
    <ion-label position="floating">Latitud</ion-label>
    <ion-input type="text" [(ngModel)]="coordinates.latitude"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Longitud</ion-label>
    <ion-input type="text" [(ngModel)]="coordinates.longitude"></ion-input>
  </ion-item>



  <div #map id="map"></div>
</ion-content>
